<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Not Found</title>
  <link href="https://cdn.shopify.com/s/files/1/1302/0941/t/9/assets/logo.png?14193464300581444618" rel="icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body style="background-color: #DEE9FC">


    <div class="text-center">
      <img src="https://images-eu.ssl-images-amazon.com/images/I/711NDQNFqxL.png" alt="" width="500px" height="500px">
      <h1>Oppps!!</h1>
      <h3>This Page is currently not available.</h3>
			<h3>Chill!! Admin will build it for you</h3>
      <br>
    </div>


  <!-- js placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>

</html>
